body {
    padding: 20px;
    width: 260px;
    overflow: hidden;
}

#title{
    margin-top: -10px;
    margin-bottom: 15px;
    padding: 7px;
    border-radius: 6px;
    text-align: center;
    background-color: #DDD;
}

#toggle-enable {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#toggle-enable a {
    display: block;
}

#toggle-enable a:hover img {
    opacity: 0.5;
}

#locale-selection {
    margin-top: 15px;
    font-size: 12px;
    max-width: 200px;
}

select#locale-selection option {
    font-size: 12px;
}

#settings .checkbox input {
    display: inline-block;
}