body {
    padding: 15px;
    width: 260px;
    overflow: auto;
}

hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

#title{
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 6px;
    text-align: center;
    background-color: #DDD;
}

#toggle-enable {
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#toggle-enable a {
    display: block;
}

#toggle-enable a:hover img {
    opacity: 0.5;
}

#manual-voice-selection {
}

#manual-voice-selection header {
    margin: 0;
    font-size: 12px;
}

#locale-selection {
    font-size: 12px;
    width: 230px;
}

#locale-selection:disabled {
    background-color: #CCC;
}

select#locale-selection option {
    font-size: 12px;
}

#settings .checkbox input {
    display: inline-block;
}

#settings .checkbox label {
    font-size: 12px;
}

.preferable-voices header {
    font-size: 12px;
    margin-bottom: 7px;
}

.preferable-voices label {
    font-size: 12px;
    display: block;
    margin: 0;
}

.preferable-voices select {
    font-size: 12px;
    margin-bottom: 7px;
    width: 230px;
}

.preferable-voices select:last-child {
    margin-bottom: 0;
}

.preferable-voices select option{
    font-size: 12px;
}
